<!DOCTYPE html>
<html>
<head>
{{> /include/header}}
</head>
<body>
	{{> /include/navigation}}
	
	<div class="container" id="main">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">사용자 리스트</div>

			<!-- Table -->
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>이메일</th>
						<th>계정</th>
						<th>사용자명</th>
						<th>패스워드</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#users}}
					<tr>
						<td>{{id}}</td>
						<td>{{email}}</td>
						<td>{{userId}}</td>
						<td>{{name}}</td>
						<td>{{password}}</td>
						<td><a href="/users/{{id}}/form" class="btn btn-success" role="button">수정</a></td>
					</tr>
					{{/users}}
				</tbody>
			</table>
		</div>
	</div>
{{> /include/footer}}
</body>
</html>